/node_modules/
/.idea/
/secrets.json
/scripts/
/migrations/
/build/
/test/
/accounts.json
/truffle-config.js
/contracts/bin/
/contracts/bscscan/
.secret
.secret-testnet
.env
/package-lock.json
/pakcage.json
/yarn.lock

